= form_for @print do |f|
  #main.row
    .col.span3.choice-span.location-options
      .clearfix
        = f.label(:building)
        = f.select(:building, buildings)
      .clearfix
        = f.label(:printer)
        = f.select(:printer, default_printer, {})
    .col.span1.divider &raquo;
    .col.span4.file-span
      .tabbable
        %ul.nav.nav-tabs
          %li.active
            %a{href: "#1", data: {toggle: "tab"}}
              %i.icon-upload
              Upload
          %li
            %a{href: "#2", data: {toggle: "tab"}}
              %i.icon-download-alt
              URL
              %span.label.label-warning
                Beta
        .tab-content
          .tab-pane.active{id: "1"}
            = f.file_field(:documents, :multiple => true)
          .tab-pane{id: "2"}
            = f.text_field(:documents, :class => "span4", :multiple => true, :placeholder => "Enter a URL to fetch...", value: nil)
    .col.span1.divider &raquo;
    .col.span3
      = f.submit(:class => "btn btn-primary btn-large span3")
      .print-options
        = f.label(:collate, :class => "checkbox") do
          = f.check_box :collate
          %span= t("helpers.label.print.collate")
        = f.label(:double_sided, :class => "checkbox") do
          = f.check_box :double_sided
          %span= t("helpers.label.print.double_sided")
        = f.label(:copies, :class => "checkbox") do
          %span= t("helpers.label.print.copies")
          = f.text_field :copies, :class => "input-micro", :placeholder => 1, :size => 2, :maxlength => 2
