:javascript
  var defaults = #{(!!choose_building).to_s};
= form_for @print do |f|
  #main.row
    .col.span3.choice-span
      = f.select(:building, buildings, :selected => choose_building)
      %p
      = f.select(:printer, default_printers, :selected => choose_printer)
    .col.span1.divider &raquo;
    .col.span4.file-span
      .tabbable
        %ul.nav.nav-tabs
          %li.active
            %a{href: "#1", data: {toggle: "tab"}}
              %i.icon-upload
              =t("helpers.label.print.upload")
          %li
            %a{href: "#2", data: {toggle: "tab"}}
              %i.icon-download-alt
              =t("helpers.label.print.url")
              %span.label.label-warning=t("helpers.label.print.beta")
        .tab-content
          .tab-pane.active{id: "1"}
            = f.file_field(:documents, :multiple => true)
          .tab-pane{id: "2"}
            = f.text_field(:documents, :class => "span4", :multiple => true, :placeholder => t("helpers.label.print.url_placeholder"), value: nil)
    .col.span1.divider &raquo;
    .col.span3.print-span
      = f.submit(:class => "btn btn-primary btn-large span3")
      .print-options
        = f.label(:collate, :class => "checkbox") do
          = f.check_box :collate
          %span= t("helpers.label.print.collate")
        = f.label(:double_sided, :class => "checkbox") do
          = f.check_box :double_sided
          %span= t("helpers.label.print.double_sided")
        = f.label(:copies, :class => "checkbox") do
          %span= t("helpers.label.print.copies")
          = f.text_field :copies, :class => "input-micro", :placeholder => 1, :size => 2, :maxlength => 2
