<head>
  <meta charset="utf-8">
  <meta name="description" content="<%= t(:meta_description) %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= t("title") %></title>
  <%= stylesheet_link_tag "application" %>
  <link href="//fonts.googleapis.com/css?family=Ubuntu|Open+Sans" rel="stylesheet" type="text/css">
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
  <!--/* Javascript Tag v2.8.7 */-->

  <!--/*
    * The backup image section of this tag has been generated for use on a
    * non-SSL page. If this tag is to be placed on an SSL page, change the
    *   'http://www.oncampusweb.com/delivery/...'
    * to
    *   'https://www.oncampusweb.com/delivery/...'
    *
    * This noscript section of this tag only shows image banners. There
    * is no width or height in these banners, so if you want these tags to
    * allocate space for the ad before it shows, you will need to add this
    * information to the <img> tag.
    *
    * If you do not want to deal with the intricities of the noscript
    * section, delete the tag (from <noscript>... to </noscript>). On
    * average, the noscript tag is called from less than 1% of internet
    * users.
    */-->

  <script type='text/javascript'><!--//<![CDATA[
     var m3_u = (location.protocol=='https:'?'https://www.oncampusweb.com/delivery/ajs.php':'http://www.oncampusweb.com/delivery/ajs.php');
     var m3_r = Math.floor(Math.random()*99999999999);
     if (!document.MAX_used) document.MAX_used = ',';
     document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
     document.write ("?zoneid=160");
     document.write ('&amp;cb=' + m3_r);
     if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
     document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
     document.write ("&amp;loc=" + escape(window.location));
     if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
     if (document.context) document.write ("&context=" + escape(document.context));
     if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
     document.write ("'><\/scr"+"ipt>");
  //]]>--></script><noscript><a href='http://www.oncampusweb.com/delivery/ck.php?n=ad013f38&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://www.oncampusweb.com/delivery/avw.php?zoneid=160&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=ad013f38' border='0' alt='' /></a></noscript>

  <!--/* Javascript Tag v2.8.7 */-->

  <!--/*
    * The backup image section of this tag has been generated for use on a
    * non-SSL page. If this tag is to be placed on an SSL page, change the
    *   'http://www.oncampusweb.com/delivery/...'
    * to
    *   'https://www.oncampusweb.com/delivery/...'
    *
    * This noscript section of this tag only shows image banners. There
    * is no width or height in these banners, so if you want these tags to
    * allocate space for the ad before it shows, you will need to add this
    * information to the <img> tag.
    *
    * If you do not want to deal with the intricities of the noscript
    * section, delete the tag (from <noscript>... to </noscript>). On
    * average, the noscript tag is called from less than 1% of internet
    * users.
    */-->

  <script type='text/javascript'><!--//<![CDATA[
     var m3_u = (location.protocol=='https:'?'https://www.oncampusweb.com/delivery/ajs.php':'http://www.oncampusweb.com/delivery/ajs.php');
     var m3_r = Math.floor(Math.random()*99999999999);
     if (!document.MAX_used) document.MAX_used = ',';
     document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
     document.write ("?zoneid=1886");
     document.write ('&amp;cb=' + m3_r);
     if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
     document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
     document.write ("&amp;loc=" + escape(window.location));
     if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
     if (document.context) document.write ("&context=" + escape(document.context));
     if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
     document.write ("'><\/scr"+"ipt>");
  //]]>--></script><noscript><a href='http://www.oncampusweb.com/delivery/ck.php?n=a79dbe10&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://www.oncampusweb.com/delivery/avw.php?zoneid=1886&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a79dbe10' border='0' alt='' /></a></noscript>

  <!--/* Javascript Tag v2.8.7 */-->

  <!--/*
    * The backup image section of this tag has been generated for use on a
    * non-SSL page. If this tag is to be placed on an SSL page, change the
    *   'http://www.oncampusweb.com/delivery/...'
    * to
    *   'https://www.oncampusweb.com/delivery/...'
    *
    * This noscript section of this tag only shows image banners. There
    * is no width or height in these banners, so if you want these tags to
    * allocate space for the ad before it shows, you will need to add this
    * information to the <img> tag.
    *
    * If you do not want to deal with the intricities of the noscript
    * section, delete the tag (from <noscript>... to </noscript>). On
    * average, the noscript tag is called from less than 1% of internet
    * users.
    */-->

  <script type='text/javascript'><!--//<![CDATA[
     var m3_u = (location.protocol=='https:'?'https://www.oncampusweb.com/delivery/ajs.php':'http://www.oncampusweb.com/delivery/ajs.php');
     var m3_r = Math.floor(Math.random()*99999999999);
     if (!document.MAX_used) document.MAX_used = ',';
     document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
     document.write ("?zoneid=155");
     document.write ('&amp;cb=' + m3_r);
     if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
     document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
     document.write ("&amp;loc=" + escape(window.location));
     if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
     if (document.context) document.write ("&context=" + escape(document.context));
     if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
     document.write ("'><\/scr"+"ipt>");
  //]]>--></script><noscript><a href='http://www.oncampusweb.com/delivery/ck.php?n=a13f8175&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://www.oncampusweb.com/delivery/avw.php?zoneid=155&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a13f8175' border='0' alt='' /></a></noscript>

  <!--/* Javascript Tag v2.8.7 */-->

  <!--/*
    * The backup image section of this tag has been generated for use on a
    * non-SSL page. If this tag is to be placed on an SSL page, change the
    *   'http://www.oncampusweb.com/delivery/...'
    * to
    *   'https://www.oncampusweb.com/delivery/...'
    *
    * This noscript section of this tag only shows image banners. There
    * is no width or height in these banners, so if you want these tags to
    * allocate space for the ad before it shows, you will need to add this
    * information to the <img> tag.
    *
    * If you do not want to deal with the intricities of the noscript
    * section, delete the tag (from <noscript>... to </noscript>). On
    * average, the noscript tag is called from less than 1% of internet
    * users.
    */-->

  <script type='text/javascript'><!--//<![CDATA[
     var m3_u = (location.protocol=='https:'?'https://www.oncampusweb.com/delivery/ajs.php':'http://www.oncampusweb.com/delivery/ajs.php');
     var m3_r = Math.floor(Math.random()*99999999999);
     if (!document.MAX_used) document.MAX_used = ',';
     document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
     document.write ("?zoneid=156");
     document.write ('&amp;cb=' + m3_r);
     if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
     document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
     document.write ("&amp;loc=" + escape(window.location));
     if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
     if (document.context) document.write ("&context=" + escape(document.context));
     if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
     document.write ("'><\/scr"+"ipt>");
  //]]>--></script><noscript><a href='http://www.oncampusweb.com/delivery/ck.php?n=a3d3d76c&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://www.oncampusweb.com/delivery/avw.php?zoneid=156&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a3d3d76c' border='0' alt='' /></a></noscript>
  <%= csrf_meta_tags %>
  <%= include_gon init: true %>
</head>