<head>
  <meta charset="utf-8">
  <meta name="description" content="<%= t(:meta_description) %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= t("title") %></title>
  <%= stylesheet_link_tag "application" %>
  <link href="//fonts.googleapis.com/css?family=Ubuntu|Open+Sans" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="//ox-d.oncampusweb.com/w/1.0/jstag"></script>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
  <%= csrf_meta_tags %>
  <%= include_gon init: true %>
  <script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
  var fbds = document.createElement('script');
  fbds.async = true;
  fbds.src = '//connect.facebook.net/en_US/fbds.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(fbds, s);
  _fbq.loaded = true;
  }
  _fbq.push(['addPixelId', '1521580184726275']);
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', 'PixelInitialized', {}]);
  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=1521580184726275&amp;ev=PixelInitialized" /></noscript>  
</head>