<head>
  <meta charset="utf-8">
  <meta name="description" content="<%= t(:meta_description) %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= t("title") %></title>
  <%= stylesheet_link_tag "application" %>
  <link href="//fonts.googleapis.com/css?family=Ubuntu|Open+Sans" rel="stylesheet" type="text/css">
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
  <%= csrf_meta_tags %>
  <%= include_gon init: true %>
</head>