<!DOCTYPE html>
<html>
  <%= image_tag("http://i.imgur.com/7SRdNc9.jpg", :class => "full-page-ad" ) %>
  <%= render "application/head" %>
  <body>
    <div id="wrap">
      <%= render "application/header" %>
      <%= yield %>
    </div>
    <%= render "application/footer" %>
  </body>
</html>
